/* reset_element */
*{
  color: #fff;
}
body{
  background: #333;
}
a{
  color:#fff;
}
ul{
  list-style: none;
}


/* reset_class */
.row{
  margin:0;
}
.contents{
  padding-top: 120px;
}
.logo{
  font-family: 'DIN Condensed',sans-serif;
}
.heading{
  font-family: 'SignPainter',sans-serif;
  font-size:8.5rem;
  margin-bottom:5rem;
  text-align: center;
}
.main-logo{
  font-size: 20rem;
  line-height: 70%;
}
.sub-logo{
  font-size: 2.5rem;
}



/* header */
.header{
  position:fixed;
  top:0;
  width: 100%;
  height: 120px;
  z-index:9999;
}


/* top */
.top{
  width: 100%;
  height: 100vh;
  background:url('../img/bg_top.jpeg') center center;
  background-size: cover;
  background-attachment: fixed;
}
.top-con{
  margin-top:6rem;
}
.intro{
  width: 80%;
  font-size:1.5rem;
}
.intro a{
  font-weight: bold;
  text-decoration: underline;
}


/* genres */
.genres{
  background:url('../img/bg_contents.png') center center;
  background-size: cover;
}
.genres-box{
  max-width:1080px;
}
.four-division{
  display: flex;
  justify-content: center;
}
.three-division{
  display: flex;
  justify-content: center;
}
.hexagon {
  display: inline-block;
  position: relative;
  width: 25%;
  overflow: hidden;
  transform: rotate(90deg);
}
.hexagon::before {
  display: block;
  padding-top: 86.602540378%;  /*  2√3 / 4 x 100  */
  content: '';
}
.hexagon__inner-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}
.hexagon__inner-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}
.hexagon__inner-3 {
  width: 100%;
  height: 100%;
  transform: rotate(-120deg);
}
.hexagon__inner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url('../img/genres_bigroom.png') center / cover no-repeat;
}
.hexagon__title{
  font-size:3rem;
  font-family: 'DIN Condensed',sans-serif;
  margin:0;
  height:30px;
  text-align: center;
  line-height:0.8;
  transform:rotate(270deg);
}



/* footer */
