/* reset_element */
*{
  color: #fff;
}
body{
  background: #333;
}
a{
  color:#fff;
}
ul{
  list-style: none;
}


/* reset_class */
.row{
  margin:0;
}
.contents{
  padding-top: 120px;
}
.logo{
  font-family: 'DIN Condensed',sans-serif;
}
.heading{
  font-family: 'SignPainter',sans-serif;
  font-size:6rem;
  text-align: center;
}
.main-logo{
  font-size: 20rem;
  line-height: 70%;
}
.sub-logo{
  font-size: 2.5rem;
}



/* header */
.header{
  position:fixed;
  top:0;
  width: 100%;
  height: 120px;
}


/* top */
.top{
  width: 100%;
  height: 100vh;
  background:url('../img/bg_top.jpeg') center center;
  background-size: cover;
  background-attachment: fixed;
}
.top-con{
  margin-top:6rem;
}
.intro{
  width: 80%;
  font-size:1.5rem;
}
.intro a{
  font-weight: bold;
  text-decoration: underline;
}


/* genres */
.genres{
  background:url('../img/bg_contents.png') center center;
  background-size: cover;
}



*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc((100% * 2 / (4 * 5 + 2 * 4)) * -1 - 20px);
}
.grid__item {
  display: inline-block;
  width: 20%;
}
.grid__gutter {
  padding-left: calc((100% / 3) + 20px);
}
.grid__item:nth-child(9n+1) {
  margin-left: calc((20% - 40px) / 2 + 20px);
}
.grid__item:nth-child(9n+5) .hexagon, .grid__item:nth-child(9n+6) .hexagon, .grid__item:nth-child(9n+7) .hexagon, .grid__item:nth-child(9n+8) .hexagon, .grid__item:nth-child(9n+9) .hexagon {
  margin-top: calc(10px - 43.3012701892%);
}
.grid__item:nth-child(n+10) .hexagon {
  margin-top: calc(10px - 43.3012701892%);
}
.hexagon {
  position: relative;
  width: 100%;
  overflow: hidden;
  transform: rotate(90deg);
}
.hexagon::before {
  display: block;
  padding-top: 86.602540378%;
  content: '';
}
.hexagon__inner-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}
.hexagon__inner-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(60deg);
}
.hexagon__inner-3 {
  width: 100%;
  height: 100%;
  transform: rotate(-120deg);
}
.hexagon__inner-image {
  width: 100%;
  height: 100%;
  background: url('../img/genres_bigroom.png') center / cover no-repeat;
}
